@import '../../node_modules/swiper/swiper.min.css';
@import './enterPage.scss';
@import './detail.scss';
@import './home.scss';
@import './cursor.scss';
@import './testimonial-slider.scss';

// Calculator range slider styles
.g_range_slider_wrap {
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--_theme---text);
    border-radius: 1px;
    width: var(--slider-progress, 0%);
    transition: width 0s ease;
  }
}

.is-animating {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0px, 0% 0px);
  width: 100%;
}

[data-page-loader='section'] {
  display: flex;
}

html {
  height: auto;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
